{% extends 'base/base.html' %}
{% block head %}
    <style type="text/css">
        #container {
            height: 500px;
            width: 704px;
            overflow: hidden;
        }

        .bottom {
            padding: 15px 0;
            background-image: url('{{ STATIC_URL }}chat/img/back.jpg');
            color: #ffffff;
        }

        #message {
            margin: 0 20px;
            z-index: 10;
            border-radius: 15px;
            background-color: #000000;
            opacity: 0.6;
            height: 460px;
            overflow: hidden;
        }

        .content {
            padding: 15px;
        }

        .content p {
            font-size: 24px;
            line-height: 130%;
        }

        .time p {
            padding-top: 6px;
            padding-right: 15px;
            float: right;
            font-size: 18px;
        }

    </style>
{% endblock %}
{% block body %}
    <div id="container">
        <div class="bottom">
            <div id="message">
                <div class="content">
                    <p></p>

                    <div class="time">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script language="javascript">
        var offset = 0;


        function Ajax_content() {
            $.ajax({
                        url: "{% url 'post_message' %}",
                        type: "GET",
                        dataType: "json",
                        success: function (response) {
                            if ($.isEmptyObject(response)) {
                                setTimeout(Ajax_content, 6000);
                            }
                            else {
                                var date = new Date().toLocaleString();
                                var message = response.message;
                                var offset_now = response.count;
                                if (offset_now === offset) {
                                    setTimeout(Ajax_content, 6000);
                                }
                                else {
                                    var div = "<div class=\"content\"><p>" + message + "</p><div class=\"time\"><p>" +
                                            date.split(".")[0].replace('T', ' ') + "</p></p></div></div>";
                                    $('#message').prepend(div);
                                    offset = offset_now;
                                    Ajax_content();
                                }
                            }

                        }
                    }
            )
        }

        function Ajax_jsonp_content() {

            $.ajax({
                url: "{% url 'post_jsonp_message' %}?format=jsonp",
                dataType: "jsonp",
                jsonp: "callback",
                success: function (response) {
                    if ($.isEmptyObject(response)) {
                        setTimeout(Ajax_jsonp_content, 6000);
                    }
                    else {
                        var datetime = new Date().toLocaleString();
                        var content = response.message;
                        var offset_now = response.count;
                        if (offset_now === offset) {
                            setTimeout(Ajax_jsonp_content, 6000);
                        }
                        else {
                            var div = "<div class=\"content\"><p>" + content + "</p><div class=\"time\"><p>" +
                                    datetime.split(".")[0].replace('T', ' ') + "</p></p></div></div>";
                            $("#message").prepend(div);
                            offset = offset_now;
                            Ajax_jsonp_content();
                        }
                    }
                }
            });

        }

        $(document).ready(function () {
          Ajax_content();
           // Ajax_jsonp_content();
        });
    </script>
{% endblock %}

