{% extends 'base/base.html' %}
{% block head %}

<script language="javascript">

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');


            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                console.log(hash.length);
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }


</script>

<style type="text/css">

    .screen {
        width: 704px;
        height: 1372px;
        overflow: hidden;
        background-image: url("{{ STATIC_URL }}img/stock/back.jpg");
        
    }

    .info {
        margin-left: 15px;
        margin-right: 15px;
    }

    .header {
        height: 298px;
    }

    .middle {
        font-size: 25px;
        color: #e7e7e7;
        text-align: center;
    }

    .middle p {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }

    .percentage {
        margin-top: 60px;
        height: 100px;
        text-align: center;
    }

    .percentage .percentage-back {
        /*background-color: #2b669a; */
        background-color: rgba(43,102,154,0.6);

        z-index: 1;
        border-radius: 15px;
    }

    .percentage span {
    position: relative;
     z-index: 100;
        font-size: 70px;
        margin-top: 10px;
        line-height: 90px;
    }

    #percentage-logo {

    filter:none;
        font-size: 60px;
    }

    .exp {
        margin-top: 30px;
        height: 90px;
        margin-bottom: 30px;
        text-align: center;
    }

    .exp .exp-back {
        /*background-color: #269abc; */
        background-color: rgba(38,154,188,0.6);
        z-index: 2;
        border-radius: 15px;
        height: 60px;
    }

    .exp-back span {
        color:#ffffff;
        font-size: 36px;
        line-height: 60px;
    }
    .exp-back .font-span {
        padding-left: 15px;
    }

    .price {
        padding-left: 30px;
        float: left;
    }

    .diff {
        float: right;
        padding-right: 30px;
    }

    .stock-data {
        margin-top: 10px;
        height: 60px;
        font-size: 25px;
    }

    .stock-data .stock-data-back {
        background-color: rgba(38,154,188,0.6);
        z-index: 1;
        border-radius: 15px;
    }

    .data-inner {
        padding-left: 30px;
        line-height: 50px;
    }

    .data-inner span {
        font-size: 25px;
        color: #000000;
        padding-right: 10px;
       /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    }
    .data-inner .font-span {
        padding-left: 4px;
    }


    .data-inner span:after {

    }

    .stock-chart {
        margin-top: 40px;
    }

    .stock-chart-box {
       /* background-color: #269abc; */
       background-color:  #171453;
        height: 480px;
        opacity: 0.8;
        z-index: 1;
        border-radius: 15px;
    }

    .line {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
    }

    .line-white {
         fill: none;
         stroke: #fff;
         stroke-width: 2px;
    }

</style>

{% endblock %}
{% block body %}


<div class="screen">
    <div class="header">
        {% if code == "399423" %}
            <img src="{{ STATIC_URL }}img/stock/zhongguancun.jpg">
            {% else %}
            <img src="{{ STATIC_URL }}img/stock/top.jpg">
        {% endif %}

    </div>

    <div class="middle">

        <p id="title">中国创新创业第一指数 深交所权威发布</p>

        <p id="time">0000-00-00 00:00:00</p>
    </div>

    <div class="percentage">
        <div class="percentage-back info">
            <span id="percentage-logo" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span> <span id="percentage"></span></span>
        </div>
    </div>
    <div class="exp">
        <div class="exp-back info">

            <span class="price">价格:<span class="font-span" id="price"></span></span>
            <span class="diff">涨跌:<span class="font-span" id="diff"></span></span>

        </div>
    </div>
    <div class="stock-data">
        <div class="stock-data-back info">
            <div class="data-inner">
                <span>开盘:<span class="font-span" id="open"></span></span>
                <span>昨收:<span class="font-span" id="closed"></span></span>
                <span>成交额:<span class="font-span" id="total"></span>亿元</span>
            </div>
        </div>
    </div>
    <div class="stock-data">
        <div class="stock-data-back info">
            <div class="data-inner">
                <span>最高:<span class="font-span" id="high"></span></span>
                <span>最低:<span class="font-span" id="low"></span></span>
                <span>成交量:<span class="font-span" id="volume"></span>万手</span>
            </div>

        </div>
    </div>

    <div class="stock-chart">
        <div class="stock-chart-box info">
            <div id="chart"></div>
        </div>
    </div>

</div>

{% endblock %}
{% block site_js %}
<script src="{{ STATIC_URL }}js/d3.js"></script>
<script language="javascript" type="text/javascript">

    var params = getUrlVars();

    var code = params.code;
    var market = params.market;

    if (code === undefined){
        code = 399001;
    }
    if (market == undefined)
    {
       market = "sz";
    }
    var request_data = function() {
        if (market == undefined) {return {code:code};}
        else {return {market:market,code:code};}
    };

    function stockAjax() {
        $.ajax({
            method: "GET",
            url: "{% url 'real_time' %}",
            data: request_data(),
            cache: false
        }).done(function (data) {

            $("#price").html(data.current.toFixed(2));
            $("#diff").html(data.change.toFixed(2));
            $("#percentage").html(data.increase.toFixed(2)+"%");
            $("#time").html(data.datetime.replace(/T/, " "));
            $("#open").html(data.open.toFixed(2));
            $("#high").html(data.high.toFixed(2));
            $("#low").html(data.low.toFixed(2));
            $("#closed").html(data.last_close.toFixed(2));
            $("#total").html((data.total_sum / 10000).toFixed(2));
            $("#volume").html((data.volume / 1000000).toFixed(2));
            $("#title").html("今日"+data.name+"数据");

            var logo = $("#percentage-logo");
            var percentage = $("#percentage");
            if (data.change >= 0) {
                logo.removeClass().addClass("glyphicon glyphicon-arrow-up red");
                percentage.removeClass().addClass("red");
            }
            else {
                logo.removeClass().addClass("glyphicon glyphicon-arrow-down green");
                percentage.removeClass().addClass("green");
            }

        });
    }

    function init_date_array() {
        var start_date1 = new Date(2015, 1, 15, 9, 30, 0); // 2015-01-05 09:30:00
        var start_date2 = new Date(2015, 1, 15, 13, 1, 0); // 2015-01-05 13:00:00


        function convert_date_array(datetime) {
            var array_data = [];
            var start_timestamp = datetime.getTime();
            for (var i = 0; i <= 7200000; i = i + 60000) {
                var new_date = start_timestamp + i;
                var date = new Date(new_date);
                var j = i / 60000;
                array_data[j] = moment(date).format('H:mm:ss');
            }
            return array_data;
        }

        var array1 = convert_date_array(start_date1);

        var array2 = convert_date_array(start_date2);
        return array1.concat(array2);
    }


    function fetch_lines() {
        var array_list = [];
        $.ajax({
            async: false,
            method: "GET",
            url: "{% url 'line' %}",
            data: {market: market, code: code},
            cache: true
        }).done(function (data_list) {
                    var data = eval(data_list);
                    for (var i in data) {
                        array_list.push(data[i]);
                    }
                }
        );
        return array_list;
    }

    function fetch_kline() {
        var array_list = [];
        $.ajax({

            method: "GET",
            url: "{% url 'candles' %}",
            data: {market: market, code: code},
            cache: true
        }).done(function (data_list) {
            var data = eval(data_list);
            for (var i in data) {
                array_list.push(data[i]);
            }
        });
        return array_list;
    }


    function new_stock() {

        var stock_url = "{% url 'line' %}" + "?market="+market+"&code="+code;

        var m = [20, 20, 30, 20];

        //w = 704 - m[1] - m[3], h = 500 - m[0] - m[2];
        var w = 680, h = 480;
        var x, y, duration = 1500, delay = 500;

        var color = d3.scale.category10();

        var svg = d3.select("#chart").append("svg")
                .attr("width", w)
                .attr("height", h)
                .append("g")
                .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

        // A line generator, for the dark stroke.
        var line = d3.svg.line()
                .interpolate("basis")
                .x(function (d) {
                    return x(d.date);
                })
                .y(function (d) {
                    return y(d.price);
                });

        // A line generator, for the dark stroke.
        var axis = d3.svg.line()
                .interpolate("basis")
                .x(function (d) {
                    return x(d.date);
                })
                .y(h);

        // A area generator, for the dark stroke.
        var area = d3.svg.area()
                .interpolate("basis")
                .x(function (d) {
                    return x(d.date);
                })
                .y1(function (d) {
                    return y(d.price);
                });

        var symbols;

        d3.json(stock_url, function (data) {

            var parse = d3.time.format("%Y-%m-%dT%H:%M:%S").parse;

            symbols = [];
            symbols.push(data);


            symbols.forEach(function (s) {
                s.values.forEach(function (d) {
                    d.date = parse(d.date);
                    d.price = +d.price;
                });
                s.minPrice = d3.min(s.values, function (d) {
                    return d.price;
                });
                s.maxPrice = d3.max(s.values, function (d) {
                    return d.price;
                });
                s.sumPrice = d3.sum(s.values, function (d) {
                    return d.price;
                });

            });

            var g = svg.selectAll("g")
                    .data(symbols)
                    .enter().append("g")
                    .attr("class", "symbol");

            console.log(symbols);

            setTimeout(lines, duration);
        });

        function lines() {


            var x_length = symbols[0].values.length;
            var y_length_max = symbols[0].maxPrice;
            var y_length_min = symbols[0].minPrice;


            x = d3.time.scale().range([0, w - 30]);
            //  y = d3.scale.linear().range([h  - 20, 0]);
            y = d3.scale.linear().range([y_length_max, 0]);
            // Compute the minimum and maximum date across symbols.
            x.domain([
                d3.min(symbols, function (d) {
                    return d.values[0].date;
                }),
                d3.max(symbols, function (d) {
                    return d.values[d.values.length - 1].date;
                })
            ]);

            var g = svg.selectAll(".symbol")
                    .attr("transform", function (d, i) {
                        return "translate(0," + (i * h + 10) + ")";
                    });

            g.each(function (d) {
                var e = d3.select(this);

                e.append("path")
                        .attr("class", "line-white");

                e.append("circle")
                        .attr("r", 5)
                        .style("fill", function (d) {
                            return color(d.key);
                        })
                        .style("stroke", "#000")
                        .style("stroke-width", "2px");

                e.append("text")
                        .attr("x", 12)
                        .attr("dy", ".31em")
                        .text(d.key);
            });

            function draw(k) {
                g.each(function (d) {
                    var e = d3.select(this);
                    y.domain([0, d.maxPrice]);

                    e.select("path")
                            .attr("d", function (d) {
                                return line(d.values.slice(0, k + 1));
                            });

                    e.selectAll("circle, text")
                            .data(function (d) {
                                return [d.values[k], d.values[k]];
                            })
                            .attr("transform", function (d) {
                                return "translate(" + x(d.date) + "," + y(d.price) + ")";
                            });
                });
            }

            var k = 1, n = symbols[0].values.length;
            d3.timer(function () {
                draw(k);
                if ((k += 2) >= n - 1) {
                    draw(n - 1);
                    setTimeout(function () {
                        svg.selectAll("*").remove();
                        svg.selectAll("g").data(symbols).enter().append("g").attr("class", "symbol");
                        lines();
                    }, duration + 5000);
                    //setTimeout(groupedBar, duration+delay);
                    return true;
                }
            });
        }

        function horizons() {

            var y_length_max = symbols[0].maxPrice;
            svg.insert("defs", ".symbol")
                    .append("clipPath")
                    .attr("id", "clip")
                    .append("rect")
                    .attr("width", w)
                    .attr("height", h - 20);

            var color = d3.scale.ordinal()
                    .range(["#c6dbef", "#9ecae1", "#6baed6"]);

            var g = svg.selectAll(".symbol")
                    .attr("clip-path", "url(#clip)");
            area
                    .y0(y_length_max);

            g.select("circle").transition()
                    .duration(duration)
                    .attr("transform", function (d) {
                        return "translate(" + (w - 30) + "," + (-h ) + ")";
                    })
                    .remove();

            g.select("text").transition()
                    .duration(duration)
                    .attr("transform", function (d) {
                        return "translate(" + (w - 30) + "," + (h - 20) + ")";
                    })
                    .attr("dy", "0em");

            g.each(function (d) {
                y.domain([0, d.maxPrice]);

                d3.select(this).selectAll(".area")
                        .data(d3.range(3))
                        .enter().insert("path", ".line")
                        .attr("class", "area")
                        .attr("transform", function (d) {
                            return "translate(0," + (d * (h - 20)) + ")";
                        })
                        .attr("d", area(d.values))
                        .style("fill", function (d, i) {
                            return color(i);
                        })
                        .style("fill-opacity", 1e-6);

                y.domain([0, d.maxPrice / 3]);

                d3.select(this).selectAll(".line").transition()
                        .duration(duration)
                        .attr("d", line(d.values))
                        .style("stroke-opacity", 1e-6);

                d3.select(this).selectAll(".area").transition()
                        .duration(duration)
                        .style("fill-opacity", 1)
                        .attr("d", area(d.values))
                        .each("end", function () {
                            d3.select(this).style("fill-opacity", null);
                        });
            });

            setTimeout(areas, duration + delay);
        }

        function areas() {
            var g = svg.selectAll(".symbol");

            axis.y(h - 21);

            g.select(".line")
                    .attr("d", function (d) {
                        return axis(d.values);
                    });

            g.each(function (d) {
                y.domain([0, d.maxPrice]);

                d3.select(this).select(".line").transition()
                        .duration(duration)
                        .style("stroke-opacity", 1)
                        .each("end", function () {
                            d3.select(this).style("stroke-opacity", null);
                        });

                d3.select(this).selectAll(".area")
                        .filter(function (d, i) {
                            return i;
                        })
                        .transition()
                        .duration(duration)
                        .style("fill-opacity", 1e-6)
                        .attr("d", area(d.values))
                        .remove();

                d3.select(this).selectAll(".area")
                        .filter(function (d, i) {
                            return !i;
                        })
                        .transition()
                        .duration(duration)
                        .style("fill", color(d.key))
                        .attr("d", area(d.values));
            });

            svg.select("defs").transition()
                    .duration(duration)
                    .remove();

            g.transition()
                    .duration(duration)
                    .each("end", function () {
                        d3.select(this).attr("clip-path", null);
                    });

            setTimeout(stackedArea, duration + delay);
        }

        function stackedArea() {
            var stack = d3.layout.stack()
                    .values(function (d) {
                        return d.values;
                    })
                    .x(function (d) {
                        return d.date;
                    })
                    .y(function (d) {
                        return d.price;
                    })
                    .out(function (d, y0, y) {
                        d.price0 = y0;
                    })
                    .order("reverse");

            stack(symbols);

            y
                    .domain([0, d3.max(symbols[0].values.map(function (d) {
                        return d.price + d.price0;
                    }))])
                    .range([h, 0]);

            line
                    .y(function (d) {
                        return y(d.price0);
                    });

            area
                    .y0(function (d) {
                        return y(d.price0);
                    })
                    .y1(function (d) {
                        return y(d.price0 + d.price);
                    });

            var t = svg.selectAll(".symbol").transition()
                    .duration(duration)
                    .attr("transform", "translate(0,0)")
                    .each("end", function () {
                        d3.select(this).attr("transform", null);
                    });

            t.select("path.area")
                    .attr("d", function (d) {
                        return area(d.values);
                    });

            t.select("path.line")
                    .style("stroke-opacity", function (d, i) {
                        return i < 3 ? 1e-6 : 1;
                    })
                    .attr("d", function (d) {
                        return line(d.values);
                    });

            t.select("text")
                    .attr("transform", function (d) {
                        d = d.values[d.values.length - 1];
                        return "translate(" + (w - 30) + "," + y(d.price / 2 + d.price0) + ")";
                    });

            setTimeout(streamgraph, duration + delay);
        }

        function streamgraph() {
            var stack = d3.layout.stack()
                    .values(function (d) {
                        return d.values;
                    })
                    .x(function (d) {
                        return d.date;
                    })
                    .y(function (d) {
                        return d.price;
                    })
                    .out(function (d, y0, y) {
                        d.price0 = y0;
                    })
                    .order("reverse")
                    .offset("wiggle");

            stack(symbols);

            line.y(function (d) {
                return y(d.price0);
            });

            var t = svg.selectAll(".symbol").transition()
                    .duration(duration);

            t.select("path.area")
                    .attr("d", function (d) {
                        return area(d.values);
                    });

            t.select("path.line")
                    .style("stroke-opacity", 1e-6)
                    .attr("d", function (d) {
                        return line(d.values);
                    });

            t.select("text")
                    .attr("transform", function (d) {
                        d = d.values[d.values.length - 1];
                        return "translate(" + (w - 30) + "," + y(d.price / 2 + d.price0) + ")";
                    });

            setTimeout(overlappingArea, duration + delay);
        }

        function overlappingArea() {
            var g = svg.selectAll(".symbol");

            line
                    .y(function (d) {
                        return y(d.price0 + d.price);
                    });

            g.select(".line")
                    .attr("d", function (d) {
                        return line(d.values);
                    });

            y
                    .domain([0, d3.max(symbols.map(function (d) {
                        return d.maxPrice;
                    }))])
                    .range([h, 0]);

            area
                    .y0(h)
                    .y1(function (d) {
                        return y(d.price);
                    });

            line
                    .y(function (d) {
                        return y(d.price);
                    });

            var t = g.transition()
                    .duration(duration);

            t.select(".line")
                    .style("stroke-opacity", 1)
                    .attr("d", function (d) {
                        return line(d.values);
                    });

            t.select(".area")
                    .style("fill-opacity", .5)
                    .attr("d", function (d) {
                        return area(d.values);
                    });

            t.select("text")
                    .attr("dy", ".31em")
                    .attr("transform", function (d) {
                        d = d.values[d.values.length - 1];
                        return "translate(" + (w - 30) + "," + y(d.price) + ")";
                    });

            svg.append("line")
                    .attr("class", "line")
                    .attr("x1", 0)
                    .attr("x2", w - 30)
                    .attr("y1", h)
                    .attr("y2", h)
                    .style("stroke-opacity", 1e-6)
                    .transition()
                    .duration(duration)
                    .style("stroke-opacity", 1);

            setTimeout(groupedBar, duration + delay);
        }

        function groupedBar() {
            x = d3.scale.ordinal()
                    .domain(symbols[0].values.map(function (d) {
                        return d.date;
                    }))
                    .rangeBands([0, w - 30], .1);

            var x1 = d3.scale.ordinal()
                    .domain(symbols.map(function (d) {
                        return d.key;
                    }))
                    .rangeBands([0, x.rangeBand()]);

            var g = svg.selectAll(".symbol");

            var t = g.transition()
                    .duration(duration);

            t.select(".line")
                    .style("stroke-opacity", 1e-6)
                    .remove();

            t.select(".area")
                    .style("fill-opacity", 1e-6)
                    .remove();

            g.each(function (p, j) {
                d3.select(this).selectAll("rect")
                        .data(function (d) {
                            return d.values;
                        })
                        .enter().append("rect")
                        .attr("x", function (d) {
                            return x(d.date) + x1(p.key);
                        })
                        .attr("y", function (d) {
                            return y(d.volume);
                        })
                        .attr("width", x1.rangeBand())
                        .attr("height", function (d) {
                            return h - y(d.volume);
                        })
                        .style("fill", color(p.key))
                        .style("fill-opacity", 1e-6)
                        .transition()
                        .duration(duration)
                        .style("fill-opacity", 1);
            });
            setTimeout(function () {
                svg.selectAll("*").remove();
                svg.selectAll("g").data(symbols).enter().append("g").attr("class", "symbol");
                //lines();
            }, duration);
        }

    }


    $(document).ready(function () {

        window.setInterval("stockAjax()", 3000);
        stockAjax();
        new_stock();
    });


</script>


{% endblock %}