{% extends 'base/base.html' %}

{% block head %}
    <style type="text/css">
        .float-left {
            float: left;
            display: inline;
        }

        ul {
            list-style: none;
        }

        .container-screen {
            /*  overflow: hidden; */
            width: 704px;
            height: 120px;
        }

        #title {
            width: 162px;
            height: 120px;
            font-size: 35px;
            padding: 10px 10px;
            text-align: center;
            border: 1px solid rgb(235, 100, 0);
            display: inline;
            background-color: rgb(235, 100, 0);
            color: #ffffff;
        }

        .scroll {
            height: 120px;
            border: 2px solid rgb(235, 100, 0);
            width: 542px;
            background: url("{{ STATIC_URL }}img/stock/scroll.jpg") no-repeat 0 100%;
            overflow: hidden;
        }

        .scroll-div {
            display: block;
            width: 5000px;
        }

        .scroll_1 {
            float: left;
        }

        .scroll_2 {
            float: left;
        }

        .price {
            font-size: 65px;
            text-align: center;
            padding-top: 16px;
            display: inline;
        }

        .percentage-logo {
            font-size: 58px;
        }

        .info {
            font-size: 27px;

            padding-top: 10px;
            display: inline;
        }

        .info-detail {
            margin-left: 20px;
            padding-top: 8px;
            float: left;
            width: 105px;
            overflow: hidden;
            zoom: 1;
        }

        .info-detail span {
            display: inline-block;
            float: left;
            line-height: 1.6;
            font-size: 27px;
            padding-bottom: 2px;
        }

        .info ul {
            list-style: none;
            width: 1000px;

        }

        .info li {
            margin-top: 8px;
        }

        .info ul > li > span {
            margin: 10px 10px;

        }

        .info ul > li > span > span {
            margin-left: 5px;
        }

        .red {
          color: red;
        }

        .green {
             color: rgb(65,144,59);
        }

    </style>


{% endblock %}

{% block body %}
    <div class="container-screen">
        <div id="title" class="float-left">
            <span class="name"></span>
            <br/>
            <span class="code">{{ code }}</span>
        </div>

        <div class="scroll">
            <ul id="scroll_div" class="scroll-div">
                <li class="scroll_1">
                    <div class="price float-left">
                        <span class="percentage-logo"></span>
                        <span class="current-price"></span>
                    </div>
                    <div class="info float-left">
                        <div class="info-detail">
                            <span class="diff"></span>
                            <span class="percentage"></span>
                        </div>
                        <ul>
                            <li>
                                <span>开盘:<span class="open"></span></span>
                                <span>昨收:<span class="closed"></span></span>
                                <span>成交额:<span class="total"></span>亿</span>
                                <span>时间:<span class="time"></span></span>
                            </li>
                            <li>

                                <span>最高:<span class="high"></span></span>
                                <span>最低:<span class="low"></span></span>
                                <span>成交量:<span class="volume"></span>万手</span>
                                <span>振幅:<span class="swing"></span></span>
                            </li>
                        </ul>

                    </div>
                </li>
                <li class="scroll_2">


                    <div class="price float-left">
                        <span class="percentage-logo"></span>
                        <span class="current-price-1">fdfdss</span>
                    </div>
                    <div class="info float-left">
                        <div class="info-detail">
                            <span class="diff-1">b34</span>
                            <span class="percentage-1">433</span>
                        </div>
                        <ul>
                            <li>
                                <span>开盘:<span class="open-1">44</span></span>
                                <span>昨收:<span class="closed-1">44</span></span>
                                <span>成交额:<span class="total-1">44</span>亿</span>
                                <span>时间:<span class="time-1">44</span></span>
                            </li>
                            <li>

                                <span>最高:<span class="high-1">5</span></span>
                                <span>最低:<span class="low-1">5</span></span>
                                <span>成交量:<span class="volume-1">5</span>万手</span>
                                <span>振幅:<span class="swing-1">5</span></span>
                            </li>
                        </ul>

                    </div>

                </li>
            </ul>

        </div>
    </div>
    <script language="javascript" type="text/javascript">
        var speed = 30;
        var slide = $('#slide');

        var code = {{ code }};
        var market = "{{ market }}";

        if (code === undefined) {
            code = 399001;
        }
        if (market === undefined) {
            market = "sz";
        }

        function stockAjax() {
            $.ajax({
                method: "GET",
                url: "{% url 'real_time' %}",
                data: {market: market, code: code},
                cache: false
            }).done(function (data) {
                $(".current-price").html(data.current.toFixed(2));
                $(".diff").html(data.change.toFixed(2));
                $(".percentage").html(data.increase + "%");

                $(".time").html(data.datetime.split("T")[1]);
                $(".open").html(data.open.toFixed(2));
                $(".high").html(data.high.toFixed(2));
                $(".low").html(data.low.toFixed(2));
                $(".closed").html(data.last_close.toFixed(2));
                $(".total").html((data.total_sum / 10000).toFixed(2));
                $(".volume").html((data.volume / 10000).toFixed(2));

                $(".name").html(data.name);


                $(".swing").html(data.swing);
                var logo = $(".percentage-logo");
                var percentage = $(".percentage");
                var price = $(".current-price");
                var diff = $(".diff");
                if (data.change >= 0) {
                    logo.removeClass().addClass("percentage-logo glyphicon glyphicon-arrow-up red");
                    price.removeClass().addClass("current-price red");
                    percentage.removeClass().addClass("percentage red");
                    diff.removeClass().addClass("diff red");
                }
                else {
                    logo.removeClass().addClass("percentage-logo glyphicon glyphicon-arrow-down green");
                    price.removeClass().addClass("current-price green");
                    percentage.removeClass().addClass("percentage green");
                    diff.removeClass().addClass("diff green");
                }

            });
        }

        function scroll_bar() {
            var speed = 15;
            var scroll = $(".scroll");

            var scroll_1 = $(".scroll_1");
            var scroll_2 = $(".scroll_2");
            scroll_2.html(scroll_1.html());

            function Marquee() {
                if (scroll.scrollLeft() >= scroll_1.width()) {
                    scroll.scrollLeft(0);
                }
                else {
                    scroll.scrollLeft(scroll.scrollLeft() + 1);
                }
            }

            setInterval(Marquee, speed);
        }

        $(document).ready(function () {
            setInterval("stockAjax()", 3000);
            stockAjax();

            scroll_bar();
        });


    </script>

{% endblock %}