{% extends 'base/base.html' %}

{% block head %}
    <style type="text/css">

        .container-scroll {
            width: 704px;
            height: 120px;
            background-color: rgb(242, 242, 242);
            overflow: hidden;
        }

        ul {
            list-style: none;
        }

        #title {

            height: 120px;
            width: 104px;
            text-align: center;
            display: inline;
            color: #ffffff;

            float: left;

        }

        #title .name {
            padding: 5px 5px;
            background-color: rgb(239, 177, 39);
            font-size: 28px;

        }

        #title .datetime {
            padding: 3px;
            background-color: rgb(46, 55, 164);
            font-size: 18px;
        }

        .scroll {
            height: 120px;
            border: 1px solid rgb(235, 100, 0);
            width: 600px;
            overflow: hidden;
            float: left;
            font-size: 28px;
        }

        .scroll .scroll-sub {
            padding: 8px 15px;
            display: block;
            width: 20000px;
        }

        .scroll .scroll-sub .li {
            float: left;
        }

        .scroll .scroll-sub .li .item-bar .item-list {
            padding-left: 15px;
            display: inline-block;

        }

        .scroll .scroll-sub .li .item-bar .item-list li {
            margin-bottom: 4px;
        }

        .stock-name {
            font-weight: 800;

        }

        .stock-code {
            font-size: 20px;
            color: rgb(154, 154, 154);
            padding-right: 50px;
        }

        .stock-price {
            padding-right: 80px;
        }

        .moment {

            border-radius: 4px;
            margin-bottom: 4px;
            padding: 4px 15px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin-right: 10px;
        }

        .stock-percentage {
            color: #ffffff;
        }

        .percentage-logo {
            vertical-align: text-bottom;
            color: #ffffff;
            font-size: 25px;
            padding-bottom: 5px;
        }

        .red {
            color: red;
        }

        .green {
            color: rgb(65, 144, 59);
        }

        .background-color-green {
            background-color: rgb(63, 139, 56);
        }

        .background-color-red {
            background-color: red;
        }


    </style>
{% endblock %}

{% block body %}
    <div class="container-scroll">
        <div id="title" class="float-left">
            <div class="name">
            <span id="bar-name" class="inner">
                   中关村
            </span>
                <span id="bar-inner" class="sub-inner">A股</span>

            </div>
            <div class="datetime">
                <span class="date" id="date">2015-09-29</span>
            </div>
        </div>
        <div class="scroll">

            <ul class="scroll-sub">
                <li class="li li-1">
                    <div class="item-bar">

                        <!--
                                                <ul class="item-list">
                                                    <li>
                                                        <span class="stock-name">电子城</span>
                                                        <span class="stock-code">6006545</span>
                                                        <span class="stock-price green">345.55</span>
                                                        <div class="moment">
                                                            <span class="stock-percentage">543%
                                                            </span>
                                                            <span class="percentage-logo glyphicon glyphicon-arrow-up "></span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <span class="stock-name">电子城</span>
                                                        <span class="stock-code">6006545</span>
                                                        <span class="stock-price green">345.55</span>
                                                        <div class="moment">
                                                            <span class="stock-percentage">543%
                                                            </span>
                                                            <span class="percentage-logo glyphicon glyphicon-arrow-up "></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="item-list">
                                                    <li>
                                                        <span class="stock-name">bbb</span>
                                                        <span class="stock-code">bbb</span>
                                                        <span class="stock-price green">bds.55</span>
                                                        <div class="moment">
                                                            <span class="stock-percentage">ds%
                                                            </span>
                                                            <span class="percentage-logo glyphicon glyphicon-arrow-up "></span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <span class="stock-name">电子城</span>
                                                        <span class="stock-code">6006545</span>
                                                        <span class="stock-price green">345.55</span>
                                                        <div class="moment">
                                                            <span class="stock-percentage">543%
                                                            </span>
                                                            <span class="percentage-logo glyphicon glyphicon-arrow-up "></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                -->
                    </div>


                </li>
                <li class="li li-2">

                </li>
            </ul>
        </div>
    </div>
    <script type="text/template" class="template" id="itemList">

        <ul class="item-list">
            <% _.each(items,function(item) { %>
            <li>
                <span class="stock-name"><%- item.stockName %></span>
                <span class="stock-code"><%- item.stockCode %></span>
                <span class="stock-price
            <% if (item.netChangeRatio>=0) { %>
               red
            <% } else { %>
               green
            <% } %>">



                <%- item.close.toFixed(2) %></span>
                <div class="moment
                <% if (item.netChangeRatio>=0) { %>
                   background-color-red
                <% } else { %>
                   background-color-green
                <% } %>

">
                    <span class="stock-percentage"><% if (item.netChangeRatio>=0) { %>+<% } %><%- item.netChangeRatio.toFixed(2) %>%</span>
                    <% if (item.netChangeRatio>=0) { %>
                    <span class="percentage-logo glyphicon glyphicon-arrow-up"></span>
                    <% } else { %>
                    <span class="percentage-logo glyphicon glyphicon-arrow-down"></span>
                    <% } %>
                </div>

            </li>
            <% }); %>
        </ul>
    </script>

    <script language="javascript" type="text/javascript">


        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');


            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');

                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }


        function range(start, stop, step) {
            if (typeof stop == 'undefined') {
                // one param defined
                stop = start;
                start = 0;
            }

            if (typeof step == 'undefined') {
                step = 1;
            }

            if ((step > 0 && start >= stop) || (step < 0 && start <= stop)) {
                return [];
            }

            var result = [];
            for (var i = start; step > 0 ? i < stop : i > stop; i += step) {
                result.push(i);
            }

            return result;
        }


        function getCodes(market) {

            var result = [];
            $.ajax({
                method: "GET",
                url: "{% url 'codes' %}",
                data: {market: market},
                async: false
            }).done(function (data) {
                result = data.stocks;
            });
            return result;
        }
        function stock_ajax(market, code) {
            var result = [];
            $.ajax({
                method: "GET",
                url: "{% url 'stock_data' %}",
                data: {market: market, code: code},
                async: false
            }).done(function (data) {

                result = data;

                //   console.log(items);

                // $('.item-bar').append(template(items));


                /*
                 $('.stock-name').html(data.stockName);
                 $('.stock-code').html(data.stockCode);
                 $('.stock-price').html(data.close.toFixed(2));
                 $('.stock-percentage').html(data.netChangeRatio.toFixed(2));

                 if (data.netChangeRatio >= 0) {
                 $('.stock-price').removeClass().addClass("stock-price red");
                 $('.percentage-logo').removeClass().addClass('percentage-logo glyphicon glyphicon-arrow-up');
                 $('.moment').removeClass().addClass('moment background-color-red');

                 } else {

                 $('.stock-price').removeClass().addClass("stock-price green");
                 $('.percentage-logo').removeClass().addClass('percentage-logo glyphicon glyphicon-arrow-down');
                 $('.moment').removeClass().addClass('moment background-color-green');


                 }
                 */
            });
            return result;
        }

        function scroll_bar() {
            var speed = 30;
            var scroll = $(".scroll");

            var scroll_1 = $(".li-1");
            var scroll_2 = $(".li-2");
            scroll_2.html(scroll_1.html());

            function Marquee() {
                if (scroll.scrollLeft() >= scroll_1.width()) {
                    scroll.scrollLeft(0);
                }
                else {
                    scroll.scrollLeft(scroll.scrollLeft() + 1);
                }
            }

            setInterval(Marquee, speed);
        }


        function getdate() {
            var today = new Date();
            var day = today.getDate();
            var month = today.getMonth() + 1; //January is 0!
            var year = today.getFullYear();
            if (day < 10) {
                day = '0' + day
            }
            if (month < 10) {
                month = '0' + month
            }
            var result = year + "-" + month + "-" + day;
            $("#date").html(result);
        }
        $(document).ready(function () {

            getdate();

            var params = getUrlVars();
            var market_type = params.market;

            if (market_type == "hk") {
                $("#bar-name").html("香港证券");
                $("#bar-inner").html("数据");
            } else if(market_type=="us") {
                $("#bar-name").html("美股证券");
                $("#bar-inner").html("数据");
            }
            else {
                $("#bar-name").html("中关村");
                $("#bar-inner").html("A股");
            }

            var stock_code = getCodes(market_type);


            scroll_bar();


            var step_list = range(0, stock_code.length, 2);

            for (var x = 0; x < step_list.length; x++) {
                var start = step_list[x];
                var end = step_list[x] + 2;
                var inner_stock = stock_code.slice(start, end);

                var template = _.template($('#itemList').html());

                // var inner_template = $('.item-bar').html();
                var stock_result = {
                    items: []
                };

                for (var i = 0; i < inner_stock.length; i++) {
                    var stock_item = inner_stock[i];
                    stock_result.items.push(stock_ajax(stock_item.market, stock_item.code))
                }
                $('.item-bar').append(template(stock_result));


            }
        });
    </script>
{% endblock %}
