{% extends 'base/base.html' %}
{% block head %}
    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
    <script language="javascript" type="text/javascript">

    </script>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if messages %}
                                    <div class="panel">
                                        <ul>
                                            {% for message in messages %}
                                                <li>
                                                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                {% endif %}

                                <form id="login-form" action="" method="post" role="form" style="display: block;">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1"
                                               class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2"
                                               class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember" checked>
                                        <label for="remember">Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                       class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="next" value="{{ next }}" />

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}