{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap-theme.min.css' %}" rel="stylesheet">

    <script language="javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script language="javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script language="javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/underscore-min.js' %}">

    </script>

    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

</head>
<body>
{% block body %}
{% endblock %}

{% block site_js %}
{% endblock %}
</body>

</html>
